*{box-sizing: boder-box;}
body{
	font-family: arial;
	font-size: 17px;
	background
}
.container{
	position:relative;
	max-width:1000px;
	margin:auto;
}
.container img{
	vertical-align:middle;
	opacity: 0.5;
	<!--background-blend-mode:luminosity;-->
}
.container .content{
	font-size:38px;
	position:absolute;
	top:0;
	background:rgba(240,240,240,0.5);
	color:black;
	width:100%
	padding:20px;
}